<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="fotoperfildiv">
        <img src="../../../assets/yop5.jpeg" alt="" class="img-fluid" id="fotoperfil">
    </div>
    <div class="aboutme">
        <h1>Sobre mí</h1>
        <div class="text">
            <p>
                Mi nombre es Diego Martin Franco, sí, mi apellido es un nombre.
                Me gusta mucho la programación y el desarrollo web, una de las formas en donde encuentro la satisfaccion de empoderar mi capacidad creativa. Voy de la mano con la tecnología y me gusta estar al tanto de las nuevas tendencias globalistas. Soy tecnologicamente filosofico. Escribo, desarrollo, creo.
                <br>
                Soy.
            </p>
        </div>
    </div>
    <div class="text-center social">
        <app-social></app-social>
    </div>
</div>

