<div class="row">
    <h1><b>Educacion</b></h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Analista de sistemas</h3>
                <h4>2019 - Actualidad</h4>
                <p>Analista de sistemas en la empresa <a href="https://www.3it.com.ar/" target="_blank">3IT</a>.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Analista de sistemas</h3>
                <h4>2018 - 2019</h4>
                <p>Analista de sistemas en la empresa <a href="https://www.3it.com.ar/" target="_blank">3IT</a>.</p>
            </li>
        </ul>
    </div>
</div>
