
a i {
    color: #222;
    font-size: 25px;
    padding: 12px;
    margin-right: px;
    line-height: 10px;
}

#linkedin:hover {
    color: #231b83;
}

#github:hover {
    color: #231b83;
}

#twitter:hover {
    color: #231b83;
}

#instagram:hover {
    color: #231b83;
}

#facebook:hover {
    color: #231b83;
}


/* Path: ProyectoIntegrador_FrancoDiego\src\app\components\social\social.component.html */
