
<div class="row">
    <h1 class="col-12 text-center"><b>Hard Skills</b> </h1>
    <div class="circle-desktop">
        <!--HTML<-->
        <div class="text-center col-sm-3 col-md-3 col-lg-3" ><circle-progress 
            [percent]="95"
            [radius]="75"
            [imageSrc]="'assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"  
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#231b83'"
            [innerStrokeColor]="'#33b3f6'" 
            [animation]="true"
            [animationDuration]="600">
        </circle-progress></div>
        <!--CSS<-->
        <div class="text-center col-sm-3 col-md-3 col-lg-3"><circle-progress
            [percent]="90" 
            [radius]="75" 
            [imageSrc]="'assets/css.png'"
            [showImage]="true"
            [imageHeight]="80" 
            [imageWidth]="50" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#231b83'"
            [innerStrokeColor]="'#33b3f6'" 
            [animation]="true"
            [animationDuration]="600">
            </circle-progress>
        </div>
        <!--JS<-->
        <div class="text-center col-sm-3 col-md-3 col-lg-3"><circle-progress
            [percent]="70" 
            [radius]="75" 
            [imageSrc]="'assets/JavaScript-logo.png'"
            [showImage]="true" 
            [imageHeight]="70" 
            [imageWidth]="70" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#231b83'" 
            [innerStrokeColor]="'#33b3f6'" 
            [animation]="true" 
            [animationDuration]="600">
            </circle-progress>
        </div>
        <!--TS<-->
        <div class="text-center col-sm-3 col-md-3 col-lg-3"><circle-progress
            [percent]="60" 
            [radius]="75" 
            [imageSrc]="'assets/ts.png'"
            [showImage]="true" 
            [imageHeight]="70" 
            [imageWidth]="70" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#231b83'" 
            [innerStrokeColor]="'#33b3f6'" 
            [animation]="true" 
            [animationDuration]="600">
            </circle-progress>
        </div>
        <!--ANGULAR<-->
        <div class="text-center col-sm-3 col-md-3 col-lg-3"><circle-progress
            [percent]="70" 
            [radius]="75" 
            [imageSrc]="'assets/angular-icon-logo.png'"
            [showImage]="true" 
            [imageHeight]="70" 
            [imageWidth]="70" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#231b83'" 
            [innerStrokeColor]="'#33b3f6'" 
            [animation]="true" 
            [animationDuration]="600">
            </circle-progress>
        </div>
        <!--github<-->
        <div class="text-center col-sm-3 col-md-3 col-lg-3"><circle-progress
            [percent]="90" 
            [radius]="75" 
            [imageSrc]="'assets/github.png'"
            [showImage]="true" 
            [imageHeight]="70" 
            [imageWidth]="70" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#231b83'" 
            [innerStrokeColor]="'#33b3f6'" 
            [animation]="true" 
            [animationDuration]="600">
            </circle-progress>
        </div>
        <!--MYSQL<-->
        <div class="text-center col-sm-3 col-md-3 col-lg-3"><circle-progress
            [percent]="70" 
            [radius]="75"
            [imageSrc]="'assets/mysql.png'"
            [showImage]="true" 
            [imageHeight]="70" 
            [imageWidth]="70"
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#231b83'"
            [innerStrokeColor]="'#33b3f6'" 
            [animation]="true" 
            [animationDuration]="600">
        </circle-progress>
        </div>
        <!--JAVA<-->
        <div class="text-center col-sm-3 col-md-3 col-lg-3"><circle-progress 
            [percent]="70" 
            [radius]="75"
                [imageSrc]="'assets/Java-Logo.png'" 
                [showImage]="true" 
                [imageHeight]="90" 
                [imageWidth]="130" 
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4" 
                [outerStrokeColor]="'#231b83'" 
                [innerStrokeColor]="'#33b3f6'" 
                [animation]="true"
                [animationDuration]="600">
            </circle-progress>
        </div>
        <!--SPRING<-->
        <div class="text-center col-sm-3 col-md-3 col-lg-3"><circle-progress
            [percent]="60" 
            [radius]="75" 
            [imageSrc]="'assets/spring-boot.png'"
            [showImage]="true" 
            [imageHeight]="70" 
            [imageWidth]="70"
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#231b83'" 
            [innerStrokeColor]="'#33b3f6'" 
            [animation]="true" 
            [animationDuration]="600">
            </circle-progress>
        </div>
        <!--VS CODE<-->
        <div class="text-center col-sm-3 col-md-3 col-lg-3"><circle-progress
            [percent]="90" 
            [radius]="75"
            [imageSrc]="'assets/vs.png'" 
            [showImage]="true" 
            [imageHeight]="70" 
            [imageWidth]="70"
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="4" 
            [outerStrokeColor]="'#231b83'" 
            [innerStrokeColor]="'#33b3f6'"
            [animation]="true" 
            [animationDuration]="600">
            </circle-progress>
        </div>
    </div>



    <!--MOBILE<-->
    <div class="circle-mobile">
        <div class="text-center col-sm-8 col-md-8 col-lg-8"><circle-progress [percent]="95" [radius]="50"
            [imageSrc]="'assets/html.png'" [showImage]="true" [imageHeight]="50" [imageWidth]="50" [outerStrokeWidth]="8"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#231b83'" [innerStrokeColor]="'#33b3f6'" [animation]="true"
            [animationDuration]="600">
        </circle-progress></div>
       <!--CSS<-->
        <div class="text-center col-sm-8 col-md-8 col-lg-8"><circle-progress [percent]="90" [radius]="50"
                [imageSrc]="'assets/css.png'" [showImage]="true" [imageHeight]="50" [imageWidth]="35" [outerStrokeWidth]="8"
                [innerStrokeWidth]="4" [outerStrokeColor]="'#231b83'" [innerStrokeColor]="'#33b3f6'" [animation]="true"
                [animationDuration]="600">
            </circle-progress>
        </div>
        <!--JS<-->
        <div class="text-center col-sm-8 col-md-8 col-lg-8"><circle-progress [percent]="70" [radius]="50"
                [imageSrc]="'assets/JavaScript-logo.png'" [showImage]="true" [imageHeight]="40" [imageWidth]="40"
                [outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'#231b83'" [innerStrokeColor]="'#33b3f6'"
                [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <!--TS<-->
        <div class="text-center col-sm-8 col-md-8 col-lg-8"><circle-progress [percent]="60" [radius]="50"
                [imageSrc]="'assets/ts.png'" [showImage]="true" [imageHeight]="50" [imageWidth]="50" [outerStrokeWidth]="8"
                [innerStrokeWidth]="4" [outerStrokeColor]="'#231b83'" [innerStrokeColor]="'#33b3f6'" [animation]="true"
                [animationDuration]="600">
            </circle-progress>
        </div>
        <!--ANGULAR<-->
        <div class="text-center col-sm-8 col-md-8 col-lg-8"><circle-progress [percent]="70" [radius]="50"
                [imageSrc]="'assets/angular-icon-logo.png'" [showImage]="true" [imageHeight]="50" [imageWidth]="50"
                [outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'#231b83'" [innerStrokeColor]="'#33b3f6'"
                [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <!--github<-->
        <div class="text-center col-sm-8 col-md-8 col-lg-8"><circle-progress [percent]="90" [radius]="50"
                [imageSrc]="'assets/github.png'" [showImage]="true" [imageHeight]="50" [imageWidth]="50"
                [outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'#231b83'" [innerStrokeColor]="'#33b3f6'"
                [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <!--MYSQL<-->
        <div class="text-center col-sm-8 col-md-8 col-lg-8"><circle-progress [percent]="70" [radius]="50"
                [imageSrc]="'assets/mysql.png'" [showImage]="true" [imageHeight]="50" [imageWidth]="50"
                [outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'#231b83'" [innerStrokeColor]="'#33b3f6'"
                [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <!--SPRING<-->
        <div class="text-center col-sm-8 col-md-8 col-lg-8"><circle-progress [percent]="50" [radius]="50"
                [imageSrc]="'assets/spring-boot.png'" [showImage]="true" [imageHeight]="50" [imageWidth]="50"
                [outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'#231b83'" [innerStrokeColor]="'#33b3f6'"
                [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <!--VS CODE<-->
        <div class="text-center col-sm-8 col-md-8 col-lg-8"><circle-progress [percent]="90" [radius]="50"
                [imageSrc]="'assets/vs.png'" [showImage]="true" [imageHeight]="50" [imageWidth]="50" [outerStrokeWidth]="8"
                [innerStrokeWidth]="4" [outerStrokeColor]="'#231b83'" [innerStrokeColor]="'#33b3f6'" [animation]="true"
                [animationDuration]="600">
            </circle-progress>
        </div>
    </div>

</div>