<div class="header">
    <nav>
        <app-logo-ap></app-logo-ap>
        <app-nav></app-nav>
    </nav>
    <div class="title">
        <h5>Hola!</h5>
        <div class="container">
            <h1>Soy
                <div class="lista">
                    <div class="item">
                        Diego Franco
                    </div>
                    <div class="item">
                        Desarrollador Web Full Stack Jr.
                    </div>
                </div>
            </h1>
        </div>
        <button type="button" class="btn btn-primary-light" id="boton">Sobre mi ⬇</button>
        <br>
    </div>
</div>
