<div class="row">
    <h1><b>Proyectos realizados</b></h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>App Tareas</h2>
            <p>Aplicación web para la gestión de tareas. Permite crear, editar y eliminar tareas. Además, permite filtrar las tareas por estado. 
            </p>
            <p>Desarrollada con HTML5, CSS3 y JAVASCRIPT.
        </div>
        <div class="col-sm-12 col-md-3 parte2">
            <img src="assets/apptareas.png" alt="App Tareas" class="apptareas">
        </div>
        <div class="col-sm-12.col-md-3 parte2mobile">
            <img src="../../../assets/apptareasmobile.png
            " alt="App tareas" id="appmobile">
        </div>
    </div>
    <app-footer></app-footer>
</div>
